<div id="logged-in-template" class="container">
    <h1> What's up <%= user.username %>?! </h1>
    <h4>Create an Event</h4>

    <form role="form" data-toggle="validator">
      <div class="form-group">
          <label for="eventName">Event Name</label>
          <input type="text" class="form-control" id="eventName" name="event" placeholder="Event Name" autofocus required>
      </div>
      <div class="form-group">
          <label for="eventType">Event Type</label>
          <input type="text" class="form-control" id="eventType" placeholder="Event Type" list="Type" >
          <datalist id="Type">
            <option value="birthday party">
            <option value="conference talk">
            <option value="wedding">
          </datalist>
      </div>
      <div class="form-group">
          <label for="eventHost">Event Host</label>
          <input type="text" class="form-control" id="eventHost" placeholder="Event Host" required>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="eventStart">Start time</label>
          <input type="time" class="form-control" id="eventHost" required>
        </div>

        <div class="form-group col-md-6">
          <label for="eventStart">Start date</label>
          <input type="date" class="form-control" id="eventHost" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
            <label for="eventEnd">End time</label>
            <input type="time" class="form-control" id="eventEnd" required>
        </div>

        <div class="form-group col-md-6">
            <label for="eventEnd">End date</label>
            <input type="datetime" class="form-control" id="eventEnd" required>
        </div>
      </div>


        <div class="form-group">
          <label for="eventLocation">Location</label>
          <input id="locationName" name="locationName" type="text" class="form-control pac-input">
        </div>



      <div>
        <label for="eventAbout">About the Event</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
